.login-container {
  color: gray;
  display: flex;
  align-items: center;
}

.login-container button {
  margin-left: 1rem;
}
.link {
  color: var(--bg-primary);
}
.link:hover {
  color: var(--text-primary);
  text-decoration: none;
}

.auth-links {
  display: flex;
}
.nav-item {
  padding: 0.5rem;
}
